{% extends "baselayout.html" %}
{% load static %}

{% load bootstrap3 %}
{% block bootstrap3_title %}Signbank: Add Gloss{% endblock %}
{% block extrahead %}
{% endblock %}


{% block content %}


   {% if perms.dictionary.add_gloss %}
         <div id='add_gloss_form'>
             <form action='{% url "dictionary:add_gloss" %}' method='post'>
                 {% csrf_token %}
                 {% bootstrap_form add_gloss_form %}

                <td><input class='btn btn-primary' type='submit' value='Add New Sign'></td>
             </form>
        </div>
      {% endif %}

{% endblock %}
